@model IEnumerable<EzpeletaNetCore6.Models.Articulo>

@{
    ViewData["Title"] = "Listado de Articulos";
}

<h1>Listado de Artículos</h1>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">


<div class="mb-3">
    <label for="txtCountryName" class="form-label">Búsqueda Autocompletada por Descripción:</label>
    <input type="hidden" id="ArticuloIDBuscar" value="0" />
    <input type="text" id="ArticuloNombreBuscar" onKeyUp="FiltrarArticulo()" onKeyDown="FiltrarArticulo()" style="text-transform:uppercase" class="form-control" placeholder="Ingrese el Nombre del Artículo a Buscar" />
</div>


<p>
    <button class="btn btn-primary btn-sm" onclick="AbrirModal()">Nuevo Artículo</button>
</p>

<p>
    <button class="btn btn-primary btn-sm" onclick="Imprimir()">Imprimir</button>
</p>


<table id="imprimir" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Rubro
            </th>
            <th>
                Subrubro
            </th>
            <th class="text-center">
                Ult. Act.
            </th>
            <th class="text-right">
                Costo
            </th>
            <th class="text-right">
                Ganan.
            </th>
            <th class="text-right">
                Venta
            </th>
            <th class="text-center" style="width:160px">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-articulos">
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Titulo-Modal-Articulo"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <form id="frmFormulario" enctype="multipart/form-data">
                    <input type="hidden" name="articuloID" id="ArticuloID" value="0" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="recipient-name" class="control-label">Descripción:</label>
                            <input type="text" class="form-control" style="text-transform:uppercase" autocomplete="off" required name="articuloNombre" id="ArticuloNombre">
                            @*<input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" style="text-transform:uppercase" autocomplete="off" required>*@

                            <div id="Error-ArticuloNombre"></div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Rubro:</label>
                            @Html.DropDownList("RubroID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Subrubro:</label>
                            @Html.DropDownList("SubrubroID", null, htmlAttributes: new { @class = "form-control" })
                            <div id="Error-SubrubroID"></div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Precio Costo:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="tel" class="form-control text-right" value="0" onclick="this.select()" autocomplete="off" required onKeyUp="CalcularImportes(1)" onKeyDown="CalcularImportes(1)" name="precioCosto" id="PrecioCosto" aria-describedby="PrecioCosto">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Porc. Ganan.:</label>
                            <div class="input-group mb-3">
                                <input type="tel" class="form-control text-right" value="0" onclick="this.select()" autocomplete="off" required onKeyUp="CalcularImportes(2)" onKeyDown="CalcularImportes(2)" name="porcentajeGanancia" id="PorcentajeGanancia" aria-label="PorcentajeGanancia" aria-describedby="PorcentajeGanancia">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Precio Venta:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="tel" class="form-control text-right" value="0" onclick="this.select()" autocomplete="off" required onKeyUp="CalcularImportes(3)" onKeyDown="CalcularImportes(3)" name="precioVenta" id="PrecioVenta" aria-describedby="PrecioVenta">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="recipient-name" class="control-label">Archivo Adjunto:</label>
                            <input type="file" name="archivo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="CerrarModal()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="GuardarArticulo()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
 

    <script src="~/js/jquery/jquery-1.9.1.js"></script>
    <script src="~/js/jquery/jquery-ui.js"></script>
    <script src="~/js/Articulo.js"></script>

    <script type="text/javascript">
        window.onload = CompletarTablaArticulos();
    </script>


 
    <script type="text/javascript">
        function Imprimir() {


            //const doc = new jsPDF();

            var doc = new jsPDF('l', 'mm', [297, 210]);

            var totalPagesExp = "{total_pages_count_string}";
            var pageContent = function (data) {
                //HEADER
                doc.setLineWidth(10);

                doc.setDrawColor(191, 144, 0);
                //doc.line(14, 12, 196, 12);
                doc.line(14, 12, 282, 12);

                doc.setTextColor(255, 255, 255);
                doc.setFontStyle('bold');
                doc.setFontSize(15);
                doc.text(17, 14, "Listado");

                doc.setFontSize(11);
                doc.text(240, 13.5, "Impreso: ");
                //FIN HEADER

                doc.setTextColor(40);

                //SEGUNDA LINEA
                doc.setLineWidth(13);
                doc.setDrawColor(255, 229, 153);
                //doc.line(14, 23.1, 196, 23.1);
                doc.line(14, 23.1, 282, 23.1);

                doc.setFontSize(9);
                doc.text(17, 21.5, "FILTRO 1: "); doc.text(205, 21.5, "FILTRO 2: ");
                doc.text(17, 26.9, "FILTRO 3: ");

                //FIN SEGUNDA LINEA

                doc.setFontSize(16);

                doc.setFontStyle('bold');

                var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
                var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();

                // FOOTER
                var str = "Pagina " + data.pageCount;
                // Total page number plugin only available in jspdf v1.0+
                if (typeof doc.putTotalPages == 'function') {
                    str = str + " de " + totalPagesExp;
                }

                doc.setLineWidth(8);
                doc.setDrawColor(255, 229, 153);
                //doc.line(14, pageHeight - 11, 196, pageHeight - 11);
                doc.line(14, pageHeight - 11, 282, pageHeight - 11);

                doc.setFontSize(10);
                doc.text("NOMBRE DE LA EMPRESA", 17, pageHeight - 10);

                //doc.text(str, 165, pageHeight - 10);
                doc.text(str, 250, pageHeight - 10);

            };

            var elem = document.getElementById("imprimir");
            var res = doc.autoTableHtmlToJson(elem);

            doc.autoTable(res.columns, res.data, {
                startY: 29.5, addPageContent: pageContent,
                margin: { top: 29.5 },
                styles: {
                    fillStyle: 'DF',
                    overflow: 'linebreak',
                    columnWidth: 110,
                    lineWidth: 0.1,
                    lineColor: [238, 238, 238]
                },
                headerStyles: {
                    fillColor: [255, 255, 255],
                },
                columnStyles: {
                    0: { columnWidth: 60 },//FECHA
                    1: { columnWidth: 45 },
                    2: { columnWidth: 45 },
                    3: { columnWidth: 20 },
                    4: { columnWidth: 33 },
                    5: { columnWidth: 30 },
                    6: { columnWidth: 35 },
                },
                createdHeaderCell: function (cell, opts) {
                    if (opts.column.index == 3) {
                        cell.styles.halign = 'center';
                    }
                    if (opts.column.index == 4 || opts.column.index == 5 || opts.column.index == 6) {
                        cell.styles.halign = 'right';
                    }
                    cell.styles.fontSize = 8;
                },
                createdCell: function (cell, opts) {
                    cell.styles.fontSize = 7;
                    if (opts.column.index == 3) {
                        cell.styles.halign = 'center';
                    }
                    if (opts.column.index == 4 || opts.column.index == 5 || opts.column.index == 6) {
                        cell.styles.halign = 'right';
                    }
                }
            });


            // ESTO SE LLAMA ANTES DE ABRIR EL PDF PARA QUE MUESTRE EN EL PDF EL NRO TOTAL DE PAGINAS. ACA CALCULA EL TOTAL DE PAGINAS.
            if (typeof doc.putTotalPages === 'function') {
                doc.putTotalPages(totalPagesExp);
            }


            // Output as Data URI.

            //var string = doc.output('datauristring');
            //var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>"

            //var x = window.open();
            //x.document.open();
            //x.document.write(iframe);
            //x.document.close();
            doc.save('archivo.pdf');
        }
    </script>
}

   

