@model IEnumerable<EzpeletaNetCore6.Models.Articulo>

@{
    ViewData["Title"] = "Listado de Articulos";
}

<h1>Listado de Artículos</h1>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">


<div class="mb-3">
    <label for="txtCountryName" class="form-label">Búsqueda Autocompletada por Descripción:</label>
    <input type="hidden" id="ArticuloIDBuscar" value="0" />
    <input type="text" id="txtCountryName" class="form-control" placeholder="Ingrese el Nombre del Artículo a Buscar" />
</div>


<p>
    <button class="btn btn-primary btn-sm" onclick="AbrirModal()">Nuevo Artículo</button>
</p>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Rubro
            </th>
            <th>
                Subrubro
            </th>
            <th class="text-center">
                Ult. Act.
            </th>
            <th class="text-right">
                Costo
            </th>
            <th class="text-right">
                Ganan.
            </th>
            <th class="text-right">
                Venta
            </th>
            <th class="text-center" style="width:160px">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-articulos">
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Titulo-Modal-Articulo"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <form id="frmFormulario" enctype="multipart/form-data">
                    <input type="hidden" name="articuloID" id="ArticuloID" value="0" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="recipient-name" class="control-label">Descripción:</label>
                            <input type="text" class="form-control" style="text-transform:uppercase" autocomplete="off" required name="articuloNombre" id="ArticuloNombre">
                            @*<input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" style="text-transform:uppercase" autocomplete="off" required>*@

                            <div id="Error-ArticuloNombre"></div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Rubro:</label>
                            @Html.DropDownList("RubroID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Subrubro:</label>
                            @Html.DropDownList("SubrubroID", null, htmlAttributes: new { @class = "form-control" })
                            <div id="Error-SubrubroID"></div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Precio Costo:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="tel" class="form-control text-right" value="0" onclick="this.select()" autocomplete="off" required onKeyUp="CalcularImportes(1)" onKeyDown="CalcularImportes(1)" name="precioCosto" id="PrecioCosto" aria-describedby="PrecioCosto">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Porc. Ganan.:</label>
                            <div class="input-group mb-3">
                                <input type="tel" class="form-control text-right" value="0" onclick="this.select()" autocomplete="off" required onKeyUp="CalcularImportes(2)" onKeyDown="CalcularImportes(2)" name="porcentajeGanancia" id="PorcentajeGanancia" aria-label="PorcentajeGanancia" aria-describedby="PorcentajeGanancia">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Precio Venta:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="tel" class="form-control text-right" value="0" onclick="this.select()" autocomplete="off" required onKeyUp="CalcularImportes(3)" onKeyDown="CalcularImportes(3)" name="precioVenta" id="PrecioVenta" aria-describedby="PrecioVenta">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="recipient-name" class="control-label">Archivo Adjunto:</label>
                            <input type="file" name="archivo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="CerrarModal()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="GuardarArticulo()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
 
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="~/js/Articulo.js"></script>
    <script type="text/javascript">
        window.onload = CompletarTablaArticulos();
    </script>
}


