
@model IEnumerable<EzpeletaNetCore6.Models.CategoriaComercial.Subrubro>

@{
    ViewData["Title"] = "Listado de Subrubros";
}

<h1>Listado de Subrubros</h1>

<p>
    <button class="btn btn-primary btn-sm" onclick="AbrirModal()">Nuevo Subrubro</button>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Rubro
            </th>
            <th class="text-center" style="width:160px">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-subrubros">
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Titulo-Modal-Subrubro"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="SubrubroID" value="0" />
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Descripción:</label>
                        <input type="text" class="form-control" style="text-transform:uppercase" autocomplete="off" required id="SubrubroNombre">
                        <p id="Error-SubrubroNombre"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rubro:</label>
                        @Html.DropDownList("RubroID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="CerrarModal()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="GuardarSubrubro()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Subrubro.js"></script>
    <script>
        window.onload = CompletarTablaSubrubros();
    </script>
}


