@model IEnumerable<EzpeletaNetCore6.Models.Rubro>

@{
    ViewData["Title"] = "Listado de Rubros";
}

<h1>Listado de Rubros</h1>

<p>
    <button class="btn btn-primary btn-sm" onclick="AbrirModal()">Nuevo Rubro</button>
</p>









<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Titulo-Modal-Rubro"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <form id="frmFormulario" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="rubroID" id="RubroID" value="0" />
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Descripción:</label>
                        <input type="text" class="form-control" style="text-transform:uppercase" autocomplete="off" required name="rubroNombre" id="RubroNombre">
                        <p id="Error-RubroNombre"></p>
                    </div>
               
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="CerrarModal()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="GuardarRubro()" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>




  <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th class="text-center" style="width:160px">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-rubros">
    </tbody>
</table>

                            </div>
                        </div>




@section Scripts {
    <script src="~/js/Rubro.js"></script>
    <script>
        window.onload = CompletarTablaRubros();
    </script>
}


