@model IEnumerable<EzpeletaNetCore6.Models.Rubro>

@{
    ViewData["Title"] = "Listado de Rubros";
}

<h1>Listado de Rubros</h1>

<p>
    <button class="btn btn-primary btn-sm" onclick="AbrirModal()">Nuevo Rubro</button>
</p>

@*<img style='display:block; width:200px;' src='data:@ViewBag.TipoImg;base64, @ViewBag.ImgBase64' />*@

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th class="text-center" style="width:160px">Opciones</th>
        </tr>
    </thead>
    <tbody id="tbody-rubros">
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Titulo-Modal-Rubro"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="VaciarFormulario()" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <form id="frmFormulario" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="rubroID" id="RubroID" value="0" />
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Descripción:</label>
                        <input type="text" class="form-control" style="text-transform:uppercase" autocomplete="off" required name="rubroNombre" id="RubroNombre">
                        <p id="Error-RubroNombre"></p>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Archivo Adjunto:</label>
                        <input type="file" name="archivo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="VaciarFormulario()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="GuardarRubro()" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Rubro.js"></script>
    <script>
        window.onload = CompletarTablaRubros();
    </script>
}


